{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
{% block body %}

    <h1>{{ dir }}</h1>

    Playground for pixie, etc.

    <a class="btn btn-danger" href="{{ path('pixie_browse_configs') }}">
        Browse pixies
    </a>

    <hr />


</div>
{% endblock %}
